<EditForm Model="@AddFormModel"
          OnSubmit="AddTransaction">
    <div class="vertical-stack-layout add-transaction-form">
        <div class="label form-title">New Transaction</div>

        <InputDate Type="InputDateType.DateTimeLocal" @bind-Value="AddFormModel.Timestamp" />


        <InputText placeholder="Name"
                   DisplayName="Transaction Name"
                   @bind-Value="AddFormModel.Name" />

        <InputSelect DisplayName="Currency"
                     @bind-Value="AddFormModel.Currency">
            @foreach (var currency in Enum.GetValues(typeof(CurrencyEnum)))
            {
                <option value="@currency">@currency</option>
            }
        </InputSelect>

        <InputNumber DisplayName="Amount"
                     min="0"
                     @bind-Value="AddFormModel.Amount" />

        <InputSelect DisplayName="Category"
                     @bind-Value="AddFormModel.CategoryId">
            @foreach (var category in CategoriesService.GetCategories())
            {
                <option value="@category.Id">@category.Name</option>
            }
        </InputSelect>

        <InputSelect DisplayName="Account"
                     @bind-Value="AddFormModel.AccountId">
            @foreach (var account in AccountsService.GetAccounts())
            {
                <option value="@account.Id">@account.Name</option>
            }
        </InputSelect>

        <button class="button-fill" type="submit">Save</button>
    </div>
</EditForm>

